html {
  margin:3%
}
.form-control {
  width: 60% !important;
}
table {
  width: 100%
}
table .form-control {
  width: 100% !important;
}
label {
  margin-top:2%
}
table .btn {
  margin-left:5%
}
.btn {
  margin-right: 3%
}